//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic');

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}