@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic");
.block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edeff1; }
  .block:nth-child(odd) .block__text {
    color: #ffffff; }
  .block:nth-child(odd) .block__title {
    color: #ffffff; }
  .block:nth-child(3n) {
    height: 380px;
    background: url("../img/bg_3n.jpg") no-repeat center/cover; }
  .block__h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 72px;
    color: #ffffff; }
  .block__title {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #31353e; }
    .block__title-header {
      margin-bottom: 40px; }
  .block__text {
    text-align: center;
    color: #31353e; }
  .block-welcome {
    height: calc(100vh - 150px);
    background: url("../img/bg_main.jpg") no-repeat center center; }
  .block-news {
    min-height: 800px; }
  .block-product .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 50px 0; }
    .block-product .row:nth-child(even) {
      flex-direction: row-reverse; }
  .block-product .block__title {
    text-align: left;
    padding: 40px 20px 30px 40px; }
  .block-product .block__text {
    text-align: left;
    padding: 0 20px 0 40px; }
  .block-components {
    background: #d75d0e; }
    .block-components .col-lg-4 {
      width: 390px; }
    .block-components .row {
      margin: 100px 0; }
  .block-footer .block__text {
    color: #ffffff;
    margin-bottom: 0; }
  .block span {
    font-weight: bold; }

.welcome-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }

.components__text {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  text-align: center; }

.email {
  width: 509px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  padding-left: 30px;
  color: #ffffff; }

.page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between; }
  .page-header .row {
    width: 100%; }
  .page-header .nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around; }

.logo-img {
  display: block;
  width: 157px;
  height: 52px;
  background: url("../img/logo.png") no-repeat center center; }

.nav-link {
  padding: 0 0 0 20px;
  font-size: 18px;
  color: #31353e;
  line-height: 52px; }
  .nav-link:hover {
    background-color: #dd4b2b;
    border-radius: 25px;
    color: #ffffff;
    width: 120%; }

.btn {
  display: block;
  margin: 0 auto;
  width: 213px;
  height: 54px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 27px;
  cursor: pointer;
  font-size: 18px;
  color: #612316;
  line-height: 35px;
  margin-top: 50px; }

.btn-red {
  margin: 50px 0 0 40px;
  background-color: #dd4b2b;
  color: #ffffff; }

.btn-blue {
  margin: 50px 0 0 40px;
  background-color: #4b4e73;
  color: #ffffff; }

.btn-white {
  position: relative;
  top: -54px;
  left: 295px;
  margin: 0;
  background-color: #ffffff; }

/* .form-sign {
  @include flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 290px;
  background: #f0f0f0;
}
.form__email {
  position: relative;
  width: 400px;
  line-height: 44px;
  background: #f0f0f0;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;	
}
.form__btn:after {
  content: '';
  width: 32px;
  height: 17px;
  position: absolute;
  top: 175px;
  right: 50%;
  margin-right: -200px;
  background: url('../img/arrow_right.png') no-repeat center center;
  z-index: 10;
} */
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px; }

.container {
  max-width: 1200px; }

/*# sourceMappingURL=style.css.map */
