.btn {
  display: block;
  width: 120px;
  height: 40px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: $green;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $green;
  margin: 0 auto;
  cursor: pointer;
}
.btn__about {
  margin: 0;
}
.btn__hiring {
  width: 140px;
}
.btn__submit {
  background: $white;
  margin-top: 20px;
  margin-left: 0;
}