.contact-form {
  @include flex;
  flex-direction: column;
}
.form-text {
  height: 45px;
  @include input;
}
.form-area {
  height: 200px;
  @include input;
  padding-top: 15px;
}
.form-footer {
  background: transparent;
  border: 1px solid $white;
  opacity: 0.5;
  margin-top: 0;
}
.form-footer-btn {
  position: relative;
  top: 15px;
  width: 70px;
  height: 45px;
  opacity: 0.5;
  background: $white;
  outline: none;
}
.form-footer-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -15px;
  width: 26px;
  height: 26px;
  background: url('../img/icons/arrow.png') no-repeat center center;
}