*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $grey;
}
.container {
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin: 0 auto;
}